<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CalizaEmpleadosVBNet.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="CalizaEmpleados.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CalizaEmpleadosVBNet.My.MySettings>
            <setting name="PicturesOfEmployees" serializeAs="String">
                <value>C:\Users\jcarl\OneDrive\Imágenes\ImagenesEmpleados</value>
            </setting>
            <setting name="WorkTimeFiles" serializeAs="String">
                <value>C:\Temp\CalizaEmpleados\RelojChecador</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=Diana\SQLEXPRESS;Initial Catalog=CalizaEmpleados;Integrated Security=True;TrustServerCertificate=True</value>
            </setting>
            <setting name="WorkTimeFilesEntry" serializeAs="String">
                <value>C:\Temp\CalizaEmpleados\RelojChecador\Entradas</value>
            </setting>
            <setting name="WorkTimeFilesExit" serializeAs="String">
                <value>C:\Temp\CalizaEmpleados\RelojChecador\Salidas</value>
            </setting>
        </CalizaEmpleadosVBNet.My.MySettings>
        <CalizaEmpleados.My.MySettings>
            <setting name="PicturesOfEmployees" serializeAs="String">
                <value>C:\Users\jcarl\OneDrive\Imágenes\ImagenesEmpleados</value>
            </setting>
            <setting name="WorkTimeFiles" serializeAs="String">
                <value>C:\Temp\CalizaEmpleados\RelojChecador</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=JUANSANCHEZ\SQLEXPRESS;Initial Catalog=CalizaEmpleados;Integrated Security=True;TrustServerCertificate=True</value>
            </setting>
            <setting name="WorkTimeFilesEntry" serializeAs="String">
                <value>C:\Temp\CalizaEmpleados\RelojChecador\Entradas</value>
            </setting>
            <setting name="WorkTimeFilesExit" serializeAs="String">
                <value>C:\Temp\CalizaEmpleados\RelojChecador\Salidas</value>
            </setting>
        </CalizaEmpleados.My.MySettings>
    </applicationSettings>
</configuration>
